
@{
    ViewBag.Title = "Bubble";
}

<div id="mainDot" class="Dot"></div>
<div id="mainDot01" class="Dot1"></div>
<div id="mainDot1" class="Dot2"></div>
<div id="mainDot11" class="Dot2"></div>
<div id="mainDot12" class="Dot1"></div>
<div id="mainDot13" class="Dot2"></div>
<div id="mainDot2" class="Dot2"></div>
<div id="mainDot21" class="Dot2"></div>
<div id="mainDot3" class="Dot2"></div>
<div id="mainDot31" class="Dot1"></div>
<div id="mainDot4" class="Dot2"></div>
<div id="mainDot41" class="Dot1"></div>
<div id="mainDot41" class="Dot1"></div>
<div id="mainDot42" class="Dot2"></div>
<div id="mainDot43" class="Dot3"></div>
<div id="mainDot5" class="Dot1"></div>

