
@{
    ViewBag.Title = "Bubble";
}

<div id="mainDot" class="Dot"></div>
<div id="mainDot1" class="Dot1"></div>
<div id="mainDot2" class="Dot2"></div>
<div id="mainDot3" class="Dot2"></div>
<div id="mainDot4" class="Dot2"></div>

