@{
    ViewBag.Title = "Contoso Telco";
}
<div classs="divbody">
    <div class="header-new clear">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h2><img src="../images/Costco%20telecom%20logo.svg" class="telco-logo" />CONTOSO TELCO</h2>
        </div>        
        <div class="col-md-6 header-imgs-cont col-sm-6 col-xs-12">
            <span class="header-imgs"><img src="~/Images/Alert.svg" /></span><span class="header-imgs"><img src="../images/Settings.svg" /></span><span class="header-imgs"><img src="../images/User.svg" /></span>
        </div>
        
    </div>
    <div class="clear row-height">
        <div class="col-md-6 col-sm-6 col-xs-12 map-height col-sm-height bg-map">
            @RenderPage("Bubble.cshtml")
            <img src="../images/Glob.svg" class="globalimg" />        
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-sm-height">
            <div class="bg-black clear">
                <span class="col-md-3 col-sm-3 col-xs-3 bgclr">
                    <span class="grahtitle">
                        Callcenter(s)<span class="userimgs"><img src="../images/Callcenter.svg" />2</span>
                    </span>
                </span>
                <span class="col-md-3 col-sm-3 col-xs-3 bgclr">
                    <span class="grahtitle">
                        Active Users
                        <span class="userimgs"><img src="../images/User_dashboard.svg" /><span id="spanactiveusers" style="color:white;"></span></span>
                    </span>
                </span>
                <span class="col-md-3 col-sm-3 col-xs-3 bgclr">
                    <span class="grahtitle">
                        Active Incidents
                        <span class="userimgs"><img src="../images/Case.svg" /><span id="spanactiveincidents" style="color:white;"></span></span>
                    </span>
                </span>
                <span class="col-md-3 col-sm-3 col-xs-3 bgclr">
                    <span class="grahtitle">
                        Traffic (Requests/second)

                        <span class="userimgs"><img src="../images/RPS.svg" /><span id="spantraficrequest" style="color:white;"></span></span>
                    </span>
                </span>
            </div>
            <div class="clear mrgtp25">
                <div class="col-md-6 col-sm-6 col-xs-6 graphimg-bg">
                    <div class="mrglft15">
                        <div class="graphimg">
                            <div class="grahtitle">Active incidents over time</div>
                            <div style="padding-left:10px;" id="activeincidentsovertimegraph" class="graphheight"></div>
                            <div class="graphlegend">
                                <div class="borderLine">
                                    Active incidents <br />
                                    <span class="borderLine2" id="activeincidentsovertimelabel"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 graphimg-bg">
                    <div class="mrgrt15">

                        <div class="graphimg">
                            <div class="grahtitle">Telemetry Volume (last hour)</div>
                            <div style="padding-left:10px;" id="telemetryvolumegraph" class="graphheight"></div>
                            <div class="graphlegend">
                                <div class="borderLine">
                                    Telemetry Volume <br />
                                    <span class="borderLine2" id="telemetryvolumelabel"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
        <div class="col-md-3 col-sm-3 col-xs-6 mrgtp25">
            <div class="graphimg">
                <div class="grahtitle">Max time to mitigate incidents</div>
                <div style="padding-left:10px;" id="maxtimetomitigateincidentsgraph" class="graphheight"></div>
                <div class="graphlegend">
                    <div class="borderLine">
                        Total Duration <br />
                        <span class="borderLine2" id="maxtimetomitigateincidentslabel"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 mrgtp25">
            <div class="graphimg">
                <div class="grahtitle"># of incidents (last hour)</div>
                <div style="padding-left:10px;" id="noofincidentsgraph" class="graphheight"></div>
                <div class="graphlegend">
                    <div class="borderLine">
                        # incidents <br />
                        <span class="borderLine2" id="noofincidentslabel"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 mrgtp25">
            <div class="graphimg">
                <div class="grahtitle">% of time the system violated</div>
                <div style="padding-left:10px;" id="percentageoftimethesystemviolatedgraph" class="graphheight"></div>
                <div class="graphlegend">
                    <div class="borderLine">
                        System Violation <br />
                        <span class="borderLine2" id="percentageoftimethesystemviolatedlabel"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 mrgtp25">
            <div class="graphimg">
                <div class="grahtitle">Alerts</div>
                <div id="container" class="graphheight" style="background-color:#444444;">
                    <div class="alertnews">22352 customers out of service, Paris, Champs d'Elise</div>
                    <div class="alertnews">Exceeded network capacity 200%, Flashing, NY, USA</div>
                    <div class="alertnews">Call drops exceeded threshold, Paddington, London, UK</div>
                    <div class="alertnews">Call drops exceeded threshold, Paddington, London, UK</div>
                    <div class="alertnews">22352 customers out of service, India, Bombay</div>
                    <div class="alertnews">Low network capacity 200%, houston, TX, USA</div>
                    <div class="alertnews">Call drops exceeded threshold, Helsinki, Finland</div>
                </div>
                <div class="graphlegend">
                    <div class="borderLineAlert">
                        &nbsp; <br />
                        <span class="borderLine2">&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="footercss">    
        <div class="footercss1"> 
            <p class="footercss1">
                Contoso Telco 2016 (c) &nbsp;&nbsp;
                Copyright Policy   &nbsp;&nbsp;
                Privacy Policy    &nbsp;&nbsp;
                User Agreement  </p> 
        </div>
    </div>
</div>

