/*Start - Bubble css styels*/

#mainDot {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}
#mainDot01 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 64%;
    left: 51%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot1 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 39%;
    left: 30%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot11 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 44%;
    left: 28%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot12 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 12%;
    left: 24%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot13 {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 32%;
    left: 24%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}


#mainDot2 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 80%;
    left: 74%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot21 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 82%;
    left: 74%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot3 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 61%;
    left: 33%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot31 {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 78%;
    left: 31%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot4{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 52%;
    left: 67%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot42 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30%;
    left: 60%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot43{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30%;
    left: 67%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot41 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 22%;
    left: 57%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

#mainDot5 {
    width: 12px;    
    height: 12px;
    position: absolute;
    top: 35%;
    left: 21%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #57896f;
    opacity: 50;
}

.Dot {
    cursor: pointer;
    border-radius: 15px;
}

.Dot1 {
    cursor: pointer;
    border-radius: 9px;
}

.Dot2 {
    cursor: pointer;
    border-radius: 9px;
}

.Dot3 {
    cursor: pointer;
    border-radius: 10px;
}

.circle {
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    /*border: 4px solid #8e44ad;*/
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    background-color: #57896f;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}
