/*index.cshtml*/
* {
    margin: 0;
    padding: 0;
}

.divbody {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

html body {
    background-color: white !important;
}

.header {
    background: #000;
    padding: 5px 25px;
    height: 36px;
}

.header-new h2 {
    color: #fff;
}

.clear {
    width: 100%;
    display: table;
    clear: both;
}

.same-height {
    height: 200px;
}

.mrglft15 {
    margin-left: -15px;
}

.mrgrt15 {
    margin-right: -15px;
    height: 270px;
}

.bg-black {
    background-color: #e6e6e6;
    color: #fff;
}

.bg-map {
    background-image:url(../images/globe.svg);
    background-repeat: repeat-y;
    height: 414px;
    background-position:center;
}

.mrgtp25 {
    margin-top: 25px;
    height: 270px;
}

.telco-logo {
    background:white;
    width: 46px;
    margin-right: 12px;
    vertical-align: top;
}

.icon {
    width: 25px;
    height: 25px;
}

.userimgs {
    position: relative;
    display: block;
    padding-left: 25px;
    padding-top: 1px;
    font-weight: 500;
    font-size:24px;
}

    .userimgs img {
        position: absolute;
        height: 30px;
        width: 20px;
        left: 0;
        top: 3px;
    }

.row-height {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px !important;
}

.col-sm-height {
    display: flex;
    flex-direction: column;
}

.graphimg {
    width: 100%;
    background: #e6e6e6;
    /*padding: 10px 15px;*/
}

.globalimg {
    height: 100%;
    background: #393939;
}

.header-imgs {
    display: inline-block;
    width: 16px;
    margin: 24px 0 10px 0;
}

    .header-imgs + .header-imgs {
        margin-left: 22px;
    }

.header-imgs-cont {
    text-align: right;
}

.header-imgs img {
    width: 16px;
    height: 16px;
    background: white;
}

.graphheight {
    height: 225px;
}


.grahtitle {
    color: whitesmoke;
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight:400;
    color:#393939;
    padding: 10px;
    display: block;
}

.graphlegend {
    color: whitesmoke;
    background-color: #e6e6e6;
    font-size: 14px;
    font-family: 'Segoe UI';
    color:#393939;color:#393939;
    padding: 10px;
}

.borderLine {
    border-left: 5px solid #1ebbee;
    height: 50px;
    padding-left: 10px;
}

.borderLine2 {
    color: #393939;
    font-size: 24px;
    font-weight: 500;
    font-size:24px;
}

.borderLineAlert {
    border-left: 5px solid #e6e6e6;
    height: 50px;
    padding-left: 10px;
}

.alertnews {
    color: whitesmoke;
    background-color: #e6e6e6;
    font-size: 14px;
    font-family: 'Segoe UI';
    color:#393939;
    padding: 10px;
}

.spanfontcolor{
    color:#393939 !important;
}
.footercss{
    background-color: white;
    padding-bottom:0px;
}
.footercss1{
    padding-top: 55px;
    padding-left:450px;
    color: #393939;
    font-size: 16px;
    font-family: 'Segoe UI';
}
.zoombtnin{
    padding-left: 850px;
    padding-bottom: 5px;
    padding-top: 350px;  
}
.zoombtnout{
    padding-left: 850px;
    padding-bottom: 5px; 
}

@media only screen and (min-width:320px) and (max-width:767px) {
    .map-height {
        margin: 15px !important;
    }

    .globalimg {
        height: auto;
    }

    .header-imgs-cont {
        text-align: left;
    }
}

/*SVG*/

.svg path{
    /*fill: blue;*/
}